<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SkyUMLRequestDispatcher</servlet-name>
        <servlet-class>com.skyuml.controller.SkyUMLRequestDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelConfigrationServlet</servlet-name>
        <servlet-class>com.skyuml.logic.ModelConfigrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkyUMLWSDispatcher</servlet-name>
        <servlet-class>com.skyuml.wsapp.WSHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Drawer</servlet-name>
        <servlet-class>Drawer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvgExporter</servlet-name>
        <servlet-class>com.skyuml.logic.SvgExporter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkyUMLRequestDispatcher</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelConfigrationServlet</servlet-name>
        <url-pattern>/modconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkyUMLWSDispatcher</servlet-name>
        <url-pattern>/wsmain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Drawer</servlet-name>
        <url-pattern>/Drawer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvgExporter</servlet-name>
        <url-pattern>/SvgExporter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
