<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SkyUMLRequestDispatcher</servlet-name>
        <servlet-class>com.skyuml.controller.SkyUMLRequestDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModelConfigrationServlet</servlet-name>
        <servlet-class>com.skyuml.logic.ModelConfigrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SkyUMLWSDispatcher</servlet-name>
        <servlet-class>com.skyuml.wsapp.WSHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Drawer</servlet-name>
        <servlet-class>Drawer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProjects</servlet-name>
        <servlet-class>com.skyuml.logic.MyProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginModel</servlet-name>
        <servlet-class>com.skyuml.logic.LoginModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SharedWithMeModel</servlet-name>
        <servlet-class>com.skyuml.logic.SharedWithMeModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveProjectView</servlet-name>
        <servlet-class>com.skyuml.logic.LeaveProjectView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviteModel</servlet-name>
        <servlet-class>com.skyuml.logic.InviteModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveProjectModel</servlet-name>
        <servlet-class>com.skyuml.logic.LeaveProjectModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyInvitationsModel</servlet-name>
        <servlet-class>com.skyuml.logic.ViewMyInvitationsModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeNewUserModel</servlet-name>
        <servlet-class>com.skyuml.logic.WelcomeNewUserModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseDirectionModel</servlet-name>
        <servlet-class>com.skyuml.logic.ChooseDirectionModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMyJoinsModel</servlet-name>
        <servlet-class>com.skyuml.logic.ViewMyJoinsModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProject</servlet-name>
        <servlet-class>com.skyuml.logic.DeleteProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadExported</servlet-name>
        <servlet-class>com.skyuml.logic.LoadExported</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportedViewer</servlet-name>
        <servlet-class>com.skyuml.logic.ExportedViewer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkyUMLRequestDispatcher</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModelConfigrationServlet</servlet-name>
        <url-pattern>/modconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SkyUMLWSDispatcher</servlet-name>
        <url-pattern>/wsmain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Drawer</servlet-name>
        <url-pattern>/Drawer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProjects</servlet-name>
        <url-pattern>/MyProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginModel</servlet-name>
        <url-pattern>/LoginModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SharedWithMeModel</servlet-name>
        <url-pattern>/SharedWithMeModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveProjectView</servlet-name>
        <url-pattern>/LeaveProjectView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviteModel</servlet-name>
        <url-pattern>/InviteModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveProjectModel</servlet-name>
        <url-pattern>/LeaveProjectModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyInvitationsModel</servlet-name>
        <url-pattern>/ViewMyInvitationsModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeNewUserModel</servlet-name>
        <url-pattern>/WelcomeNewUserModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseDirectionModel</servlet-name>
        <url-pattern>/ChooseDirectionModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMyJoinsModel</servlet-name>
        <url-pattern>/ViewMyJoinsModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProject</servlet-name>
        <url-pattern>/DeleteProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadExported</servlet-name>
        <url-pattern>/LoadExported</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportedViewer</servlet-name>
        <url-pattern>/ExportedViewer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
