/*Done by Hamza Kofahi*/


@font-face {
	font-family: cool_font;
	src: url('font/Segoe_UI.ttf');
}
h2{
	font-size: 15px;
}
body{
	font-family: cool_font;
	font-weight: 100;
}

a {
color: #333;
text-decoration: none;
}

.divHeader{
	width:99%;
	height:130px;
	background: #2d89ef;
	margin-left: 5px;
	margin-bottom : 5px;
	padding-right: 7px;
}

.textHeader{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	color: #0d77b6;
}

.smallHeader{
	display: block;
	font-weight: 700;
	font-size:20px;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.largeHeader{
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0;
	float: left;
	font-weight: 400;
}

.divider{
	position: relative;
	line-height: 20px;
	height: 100px;
	float: left;
	display: inline-block;
	padding: 0;
	font-weight: normal;
	font-size: 10pt;
	color: #fff;
	width: 1px;
	border-right: 2px #ffffff solid;
	margin-top: 12px;
	margin-left: 250px;
}

.headerItem{
	width: 100px;
	height: 100px;
	position:relative;
	float: left;
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 12px;
	text-align: center;
	background-color: #1ba1e2;
	
}

.metroIcon{
	opacity: 0.75;
}
.metroIcon:hover {
	opacity: 1;
}
/* User Inforamtion*/

.headerUserinfo{
	width:220px;
	height:66px;
	position:absolute;
	background-color: #1ba1e2;
	float:right;
	right: 9px;
	
	margin-right: 20px;
	margin-top: 10px;
}
.settingBTN{
	width:40px;
	height:40px;
	right:8px;
	float:right;
	margin-top:10px;
	position:absolute;
	background:url(../images/icon/025.png);
}
.userInfoDivider{
	border-right: 2px #111111 solid;
	height:55px;
	float:right;
	right:55px;
	margin-top:5px;
	position:absolute;
}
.userPic{
	width:64px;
	height:64px;
	right:60px;
	float:right;
	position:absolute;
	background:url(../images/icon/contacts-64.png);
}
.userFName{
	width:120px;
	height:33px;
	float:left;
	position:absolute;
	margin-left :5px;
	font-size: 25px;
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: 700;
}
.userLName{
	width:120px;
	height:33px;
	float:left;
	position:absolute;
	margin-top:35px;
	margin-left :5px;
	font-size: 18px;
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: 700;
}
